@{
    Layout = "_Layout";
}

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-md-4 col-12">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.BookCount</h3>

                <p>Kitaplar</p>
            </div>
            <div class="icon">
                <i class="fas fa-book-open"></i>
            </div>
            <a href="/Books" class="small-box-footer">Detayları göster <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-md-4 col-12">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewBag.StudentsCount<sup style="font-size: 20px"></sup></h3>

                <p>Öğrenciler</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-graduate"></i>
            </div>
            <a href="/Students" class="small-box-footer">Detayları göster <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-md-4 col-12">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.NotApprovedStudents</h3>

                <p>Onay Bekleyen Öğrenciler</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="/Students" class="small-box-footer">Detayları göster <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-12">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>Son Yorumlar</h3><p>&nbsp;</p>
            </div>
            <div class="icon">
                <i class="fas fa-comment-alt"></i>
            </div>
            <div class="small-box-footer">
                <table class="table text-dark">
                    <thead>
                        <tr>
                            <th>
                                Kitap İsmi
                            </th>
                            <th>
                                Öğrenci
                            </th>
                            <th>
                                Sayfa
                            </th>
                            <th>
                                Yorum
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.LastComments)
                        {
                            <tr>
                                <td>
                                    @item.BookName
                                </td>
                                <td>
                                    @item.StudentName
                                </td>
                                <td>
                                    @item.PageNo
                                </td>

                                <td>
                                    @item.Comment
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- Main row -->
<!-- /.row (main row) -->